@import "../../../Styles/variables";

.customMenu {
  ul div {
    width: 46px;
    left: -16px;
  }
}

@media only screen and (max-width: 40rem) {
}

:global {
  .ant-menu-light.ant-menu-submenu > .ant-menu {
    background: $primary-color !important;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }

  .ant-menu-submenu {
    background: $primary-color !important;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }

  .ant-menu-item-active {
    background: $selected-color !important;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    transition: all 0.3s !important;
  }

  .ant-menu-item {
    font-weight: 700;
  }

  .ant-menu-light.ant-menu-horizontal > .ant-menu-submenu-open::after,
  .ant-menu-light.ant-menu-horizontal > .ant-menu-submenu:hover::after,
  .ant-menu-light.ant-menu-horizontal > .ant-menu-submenu-active::after {
    border: none !important;
  }

  .ant-menu-submenu-popup::before {
    z-index: 0 !important;
  }
}
