@import "../../../Styles/variables";

.previewWrapper {
  position: relative;
  height: calc(80vh - 80px);
  top: -4rem;
  right: -2rem;
  border-radius: 0 10px 10px 0;
  background-color: white;
  overflow: hidden;
}
@keyframes pan {
  0% {
    background-position: center center;
  }
  100% {
    background-position: center right;
  }
}

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.productLink {
  background: $white-background-85;
  color: black;
  padding: 0.2rem 1rem;
  margin-bottom: 2rem;
  border-radius: 5px;
  font-weight: bold;
  width: 200px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  position: absolute;
  top: 400px;
  margin: auto 50%;

  &:hover {
    background: black;
    color: white;
  }
}

//MOBILE

@media screen and (max-width: 40rem) {
  .previewWrapper {
    left: 0;
    right: unset;
    height: auto;
    margin: 0 0 200px 0;
  }
  .overlay {
    position: absolute;
    z-index: 1;
  }
  .productLink {
    top: unset;
  }
}
