@import "../../../Styles/_variables.scss";

.categoryContainer {
  padding: 1rem;
}

.categoryHeader {
  display: block;
}

.categoryTitle {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.categoryDescription {
  font-size: 1rem;
  color: #666;
  margin-bottom: 1rem;
}

.gridContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.gridItem {
  flex: 0 1 200px;
  min-height: 150px;
  position: relative;
  overflow: hidden;
  text-align: center;
  background: transparent;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  overflow: visible;
}

.gridItem:hover {
  box-shadow: $box-shadow-2;
  background: $color-light;
  transform: scale(1.05);
  transition: all 0.1s ease-in-out;
}

.itemImage {
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: center;
}

.itemDetails {
  overflow-wrap: break-word;
  position: relative;
  display: flex;
  flex-direction: column;
  top: 0px;
  align-items: center;
  justify-content: start;
  height: 40px; /* Limit the height of the container (optional) */
  width: 200px; /* Set a width for the div */
  padding: 10px;
}

.itemDetails h3 {
  font-weight: 500;
  font-size: 0.8rem;
  position: relative; /* Keep h3 positioned at the top */
  white-space: nowrap; /* Prevent the text from wrapping */
  text-overflow: ellipsis; /* Show an ellipsis (...) when the text overflows */
}

.itemDetails p {
  white-space: nowrap; /* Prevent the text from wrapping */
  overflow: hidden; /* Hide the overflowed text */
  text-overflow: ellipsis; /* Show an ellipsis (...) when the text overflows */
  width: 100%;
}

.itemName {
  font-size: 1rem;
  margin: 0;
}

.itemDescription {
  font-size: 0.8rem;
  color: #666;
  margin-top: 0.1rem;
}

.details {
  display: flex;
  justify-content: center;
  align-items: start;
  height: 40px;
  width: 200px;
}

.addToCart {
  position: absolute; /* Position it absolutely within the grid item */
  top: 8%;
  left: 70%;
  transform: translate(-50%, -50%); /* Offset by half its width and height */
  font-size: 0.8rem;
  white-space: nowrap;
  opacity: 0; /* Start invisible */
  transition: opacity 0.2s ease; /* Smooth transition */
  pointer-events: none; /* Prevent interaction when not visible */
  background: $dark;
  color: $light;
  border-radius: 5px;
  box-shadow: none;
  padding: 0.2rem 0.3rem;
  user-select: none;

  -webkit-user-select: none;
  -moz-user-select: none;
}

.gridItem:hover .addToCart {
  opacity: 1; /* Make visible on hover */
  pointer-events: auto; /* Allow interaction when visible */
}
.addToCart:hover {
  background: $light;
  color: $dark;
  box-shadow: $box-shadow-2;
  transition: all 0.1s ease-in-out;
}

.loader {
  position: relative;
  height: 20px;
  width: 70px;
  display: flex;
  justify-content: center;
  transform: scale(3);

  align-items: center;
  background: transparent !important;
}

//MOBILE

@media screen and (max-width: 46rem) {
  .gridContainer {
    justify-content: center;
  }
}

@media screen and (max-width: 40rem) {
  .addToCart {
    opacity: 1;
  }
  .gridContainer {
    justify-content: center;
  }
  .categoryHeader {
    display: none;
  }
}
