@import "../../../../Styles/variables";

.previewWrapper {
  position: relative;
  height: calc(80vh - 80px);
  top: -4rem;
  right: -2rem;
  border-radius: 0 10px 10px 0;
  background-color: white;
  overflow: hidden;
}
@keyframes pan {
  0% {
    background-position: center center;
  }
  100% {
    background-position: center right;
  }
}

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.productLink {
  background: $white-background-85;
  color: black;
  padding: 0.2rem 1rem;
  margin-bottom: 2rem;
  border-radius: 5px;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  position: absolute;
  top: 28rem;
  margin: 50% auto;

  &:hover {
    background: black;
    color: white;
  }
}
