@import "../../Styles/variables";

.container {
  background: $white-background;
}

.fullHeight {
  min-height: 100vh;
}

.wrapper {
  position: relative;
  min-height: 30vh;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.loading {
  transform: translateY(10px);
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.2s ease, max-height 0.4s ease;
}

.loaded {
  opacity: 1;
  transform: translateY(0);
}

@media only screen and (max-width: 40rem) {
  .loaded {
    width: 100%;
  }
}
