@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "../../Styles/variables";

.formPage {
  display: flex;
  min-width: 55vw;
  width: 100%;
  position: relative;
  margin: 0 auto;
  top: 70px;
  padding: 1rem 1rem;
}

ul {
  display: block;
  flex-direction: unset;
}
nav {
  position: sticky;
}

.displayNone {
  display: none;
}

.navigationWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 70vh;
  flex: 1;
}

.navigationWrapperMobile {
  opacity: 0;
  position: fixed;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
}

.navigationWrapperMobileActive {
  opacity: 1;
  pointer-events: all;
  transition: all 0.1s ease-in-out;
}

.topNavigationWrapper {
  position: sticky;
  top: 60px;
}

.formPageNavigationTop {
  flex-shrink: 0;
}

.categoryRow {
  display: flex;
  flex-direction: row;
}

.categoryRow .navButton {
  width: 100%;
}

.categoryTitleWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrowIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  cursor: pointer;
  border: 0;
  margin: 0 0 0 0.3rem;
  background: none;
  box-shadow: none;
  border-radius: 20%;
  z-index: 10;
  transition: all 0.1s;
}

.arrowIcon:hover {
  background: $light;
  box-shadow: $box-shadow-1;
  transition: all 0.1s;
}

.arrowIcon svg {
  margin: 0 !important;
}

.topFirst {
  padding: 0 1em 0.5em 0.2rem;
  flex-shrink: 0;
  position: sticky;
  width: 15rem;
  top: 60px;
  overflow-y: auto;
}

.topSecond {
  padding: 0.5em 1em 2em 0;
  flex-shrink: 0;
}

.formPageNavigationBottom {
  padding: 2em 1em 0 0;
  flex-shrink: 0;
  position: sticky;
  bottom: 20px;
  transition: bottom 0s ease;
}

.searchWrapper {
  margin: 0 0 1rem 0;
}

.categoryItem,
.search {
  display: flex;
  justify-content: space-between;
}

.topNav,
.bottomNav,
.searchWrapper {
  z-index: 1;
  padding: 0.5em;
  background: $primary-color;
  color: $font-color-1;
  border-radius: 10px;
  box-shadow: $box-shadow-2;
}

.navButton,
.navButtonSub,
.searchInput {
  display: flex;
  padding: 0.5em 1em 0.5em 0.25em;
  text-decoration: none;
  border: none;
  background: none;
  margin: 2px 0;
  border-radius: 0.25em;
  align-items: center;
  font-weight: 700;
  cursor: pointer;
  width: 100%;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &:hover {
    background: $selected-color;
    transition: all 0.3s;
  }

  &.active {
    background: $selected-color;
    outline: 1px solid $selected-color-hover;
    transition: all 0.1s;
    &:hover {
      background: $selected-color-hover;
    }
  }

  svg {
    width: 1.25em;
    height: 1.25em;
    margin-right: 1em;
    color: #1f2937;
  }
}

.searchInput {
  padding: 0;
  margin: 0;
  height: 30px;
  cursor: text;

  &:hover {
    background: transparent;
  }
  &:focus {
    outline: none;
    border: none;
  }
}

.searchIcon {
  font-size: 0.8rem;
}

.navButtonSub {
  font-weight: 500;
  font-size: 0.7em;
}

.formPageContent {
  padding: 0;
  width: 100%;
}

.section {
  margin-right: 0;
  transition: all 0.2s ease-out;
}

.sectionSrink {
  margin-right: 32rem;
  transition: all 0.2s ease-out;
}

section {
  background: $primary-color;
  border-radius: 10px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  padding: 2em;
  margin-bottom: 2rem;
}

.table section {
  background: transparent;
  box-shadow: none;
}

section h1 {
  font-weight: 500;
  font-size: 1.25rem;
  color: #000;
  margin-bottom: 0.75rem;
}

.subcategoryList {
  list-style-type: none;
  padding-left: 2rem;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 0;
}

.showSubcategories {
  max-height: 500px; /* adjust this value based on your content size */
  opacity: 1;
}

.hideSubcategories {
  max-height: 0;
  opacity: 0;
}

.mobileNavButton {
  border-radius: 50%;
  position: fixed;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 20px;
  background: $white-background;
  box-shadow: $box-shadow-2;
  cursor: pointer;
}

.mobileNavButtonWrapper {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: end;
  pointer-events: none;
  z-index: 2;
  backdrop-filter: blur(0px);
  transition: all 0.3s ease-in-out;
}

.mobileNavButtonWrapperActive {
  background: $white-background-07;
  backdrop-filter: blur(10px);
  transition: all 0.1s ease-in-out;
}

.mobileNavButton {
  border-radius: 50%;
  position: fixed;
  width: 4rem;
  height: 4rem;
  display: flex;
  pointer-events: auto;
  align-items: center;
  justify-content: center;
  bottom: 40px;
  right: 40px;
  border: 0;
  color: $dark;
  font-size: 1.5rem;
  background: $light;
  box-shadow: $box-shadow-2;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.mobileNavButtonActive {
  transition: all 0.1s ease-in-out;
}

//MOBILE

@media only screen and (max-width: 750px) {
  .formPageNavigation {
    display: none;
  }
  .formPageNavigation {
    display: block !important;
  }
  form {
    overflow: hidden;
  }
}
@media only screen and (max-width: 40rem) {
  .navigationWrapper {
    margin: 0 auto;
    left: 1%;
    position: fixed;
    max-height: 10vh;
    width: 100%;
    z-index: 3;
  }

  .formPageNavigationTop,
  .formPageNavigationBottom {
    position: absolute;
    padding-top: 1rem;
    width: 100%;
    justify-content: center;
  }
  .formPageNavigationTop {
    max-height: calc(100% - 150px);
  }
}

@media screen and (max-width: 40rem) {
  .formPage {
    width: 90vw;
    min-width: unset;
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  .formPageContent section {
    width: auto !important;
    background: transparent;
    box-shadow: none;
  }
}
