@import "../../Styles/variables";

.appContainerAuth {
  height: 100%;
  padding-bottom: 30px;
  top: 5vh;
  position: relative;
  margin: auto 0;
  color: $font-color-1;
  margin-bottom: 100px;
}

.background {
  position: absolute;
  background: url(../../assets/images/blue-wallpaper-01.jpg) center no-repeat;
  background-size: cover;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.formWrapper,
.formWrapperRegister {
  flex-direction: row;
  padding: 0;
  height: 650px;
  max-width: 800px;
  justify-content: space-evenly;
}

.title {
  margin: 0px 40px 0px 40px;
  font-size: 1rem;
}

.formCenter {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 0 30px 0 50px;
  width: 500px;
}

.submitButton {
  padding: 10px !important;
}

.link {
  color: blue;
}

.link:hover {
  color: green !important;
}

.googleContainerAuth {
  display: flex;
  justify-content: center;
  align-items: center;
  top: -20px;
  position: relative;
}

.formInputs {
  h1,
  p {
    text-align: center;
  }
}

.logoWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoSmall {
  width: 64px;
  height: 64px;
  margin: 10px 0;
  background: url(../../assets/images/logo.png);
  background-size: cover;
}

.googleLoginWrapper {
  padding: 30px 20px 30px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoSpan,
.logoSpanRegister {
  height: 100%;
  width: 33vw;
  right: 0;
  filter: invert(0);
  background-size: cover;
  margin: 0px 0px 0px 20px;
}

.logoSpanRegister {
  filter: hue-rotate(-50deg);
}

.altSignInBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
}

.altSignInText {
  font-size: 12px;
  padding: 10px;
}

.line {
  width: 20%;
  border-bottom: 1px solid $gray-3;
}

.introText {
  padding: 0px 0 30px 0;
  overflow: hidden;
  white-space: nowrap;
}

//MOBILE

@media screen and (max-width: 40rem) {
  .appContainerAuth {
    padding: 0 2rem 50px 2rem;
    h1 {
      font-size: 1rem;
    }
  }
  .formCenter {
    padding: 0 10px 0 10px;
  }
  .logoSmall {
    margin: 0;
  }
  .formWrapper {
    height: 500px;
  }
  .formWrapperRegister {
    height: 500px;
  }
}
