@import "../../Styles/variables";

.appContainerAuth {
  height: 100%;
  padding-bottom: 30px;
  top: 200px;
  position: relative;
  padding: 0 30% 50px 30%;
  color: $font-color-1;
}

.formWrapper {
  padding: 5px 5px 5px 0px;
  border-radius: 20px 20px;
  backdrop-filter: blur(10px);
}

.title {
  margin: 0px 40px 0px 40px;
  font-size: 1rem;
}

.googleLoginWrapper {
  padding: 30px 20px 30px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

//MOBILE

@media screen and (max-width: 40rem) {
  .appContainerAuth {
    padding: 0 2rem 50px 2rem;
  }
}
