@import "../../Styles/variables";

.footerBottom {
  text-align: right;
  margin-top: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
}

.captionText {
  background: $primary-color;
  font-size: 0.6rem;
  padding: 10px;
  right: 0;
  bottom: 0;
  position: fixed;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.footer {
  position: absolute;
  width: 100%;
  bottom: 0px;
  height: 10vh;
  margin: 0;
  padding: 20px 0;
  z-index: 0;
}

@media only screen and (max-width: 40rem) {
  .footer {
    box-shadow: none;
    background: transparent;
  }
}
