/* #################### # NEW NAV MENU BAR FOR DESKTOP SCREENS ################ */
@import "../../Styles/variables";

.navWrapper {
  padding: 0px;
  width: 100%;
  display: flex;
  // justify-content: start;
  justify-content: center;
  align-items: center;
  background: transparent;
  background: $white-background-85;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 2;
  height: 70px;
  position: fixed;
  transition: all 0.5s ease-in-out;
}

.navWrapperScrolled {
  background: $primary-background;
  backdrop-filter: blur(10px);
  transition: all 0.5s ease-in-out;
}

@media only screen and (max-width: 670px) {
  .navContainer {
    display: none;
  }
}

.navBarMenu {
  position: relative;
  top: 80px;
  height: 70px;
  z-index: 1;
  padding: 0 20px 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navContainer,
.navContainerMenu {
  top: 5px;
  position: fixed;
  z-index: 2;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}
.navContainerMenu {
  top: 75px;
}

.nav {
  padding: 0px;
  transition: 0.5s;
  height: 30px;
  border-radius: 10px;
  overflow: hidden;
  width: auto;
  // margin-left: 80px;
  // backdrop-filter: blur(4px);
  // -webkit-backdrop-filter: blur(4px);
}
.navMenu {
  overflow: hidden;
  transition: 0.5s;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0px 30px 0px;
}
.navMenuLink {
  width: 10rem;
  margin: 0 5px;
}
.navMenuLink a {
  position: relative;
  height: 30px;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
  transition-duration: 0.2s;
  pointer-events: all;
}
.navMenuLink:hover {
  transition-duration: 0.2s;
  background: $selected-color;
}

.navMenu .selected:hover {
  background: $selected-color-hover;
}

.navMenu .selected {
  transition-duration: 0.2s;
  background: $selected-color;
}

.navMenu .navMenuLink a {
  text-decoration: none;
  font-weight: 700;
  font-size: 0.6rem;
  transition: 0.2s;
  letter-spacing: 3px;
  text-transform: uppercase;
  transition-duration: 0.5s;
  height: 30px;
  padding: 0px 20px 0px 20px;
}
.navMenu .navMenuLink a:hover {
  transition-duration: 0.2s;
}

.balanceIcon {
  font-size: 1.5rem;
  margin: 0 0.5rem 0 0.5rem;
}

/* #################### # NAV - RIGHT PANEL ################ */

.navRightContainer {
  display: flex;
  align-items: center;
  justify-content: end;
  position: fixed;
  right: 20px;
  top: 5px;
  width: 60px;
  height: 60px;
  z-index: 10;
}

.navLeftContainer {
  display: flex;
  align-items: center;
  justify-content: start;
  position: fixed;
  left: 20px;
  top: 5px;
  width: 60px;
  height: 60px;
  z-index: 11;
}

.logoIcon {
  height: 40px;
  width: 40px;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.logoIcon:hover {
  transition: all 0.1s ease-in-out;
  transform: scale(1.1);
}

/* #################### # NAV RIGHT MENU ################ */

.navMenuContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
}

.navMenuContainer ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.balance {
  margin: 0 0 0 20px;
  width: auto;
}

.balanceNumber {
  display: flex;
  align-items: center;
  width: auto;
  white-space: nowrap;
  outline: 0 !important;
  border: none !important;
}

.captionText {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 0.8rem;
  padding: 10px;
  border-radius: 10px;
  background: $primary-color;
  height: 30px;
  box-shadow: $box-shadow-2;
  transition: transform 0.1s ease-in-out;
}

.captionText:hover {
  transform: scale(1.1);
  transition: transform 0.1s ease-in-out;
}

.captionTextCurrency {
  font-size: 0.6rem;
  height: 100%;

  vertical-align: bottom;
  padding: 0 5px 0 5px;
}

.captionTextTitle {
  font-size: 0.7rem;
  font-weight: 500;
  padding: 0 10px 0 5px;
}

.balanceNumber .icon {
  width: 40px;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 10px 1vw 10px 10px;
  transition: 0.1s ease-in-out;
}

.balanceNumber .icon:hover {
  transition: 0.1s ease-in-out;
  transform: scale(1.1);
}

.navRightContainer .navMenuContainer ul li {
  width: 46px;
  height: 46px;
  padding-inline: 0px;
  display: flex;
}

.navRightContainer .navMenuContainer ul {
  background: $primary-color;
  border-radius: 10px;
  box-shadow: $box-shadow-2;
}

.navRightContainer .ant-menu-submenu-title {
  position: absolute;
  width: 46px;
  left: 0 !important;
}

.navRightContainer .navMenuContainer li div span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.navRightContainer
  .navMenuContainer
  li
  > .navRightContainer
  .navMenuContainer
  ul {
  background: $primary-color;
  border-radius: 10px;
}

///search box

.searchWrapper {
  height: 30px;
  border-radius: 20px;
}

.search {
  display: flex;
  justify-content: space-between;
}

.navButton,
.navButtonSub,
.searchInput,
.searchInputWrapper {
  display: flex;
  padding: 0.2em 1em 0.2em 0.25em;
  text-decoration: none;
  border: none;
  background: none;
  margin: 5px 0;
  border-radius: 0;
  align-items: center;
  font-weight: 700;
  cursor: pointer;
  width: 100%;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background: $primary-color;

  &:hover {
    background: $primary-color;

    transition: all 0.3s;
  }

  &.active {
    background: $primary-color;

    background: $primary-color;

    transition: all 0.1s;
    &:hover {
      background: $primary-color;
    }
  }

  svg {
    width: 1.25em;
    height: 1.25em;
    margin-left: 0.3em;
    margin-right: 0.3em;
    color: #1f2937;
  }
}

.searchInputWrapper {
  padding: 0;
  margin: 0;
  height: 30px;
  box-shadow: $box-shadow-1;
  cursor: text;

  &:hover {
    background: $primary-color;
  }
  &:focus {
    outline: none;
    border: none;
  }
}

.searchInput {
  padding: 0;
  margin: 0;
  height: 30px;
  padding-left: 10px;
  font-weight: 300;

  cursor: text;

  &:hover {
  }
  &:focus {
    outline: none;
    border: none;
  }
}

.searchIcon {
  font-size: 1.3rem;
  padding: 5px;
}

.searchButton {
  padding: 5px 7px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  border: 0;
  font-size: 0.6rem;
  white-space: nowrap;
  box-shadow: $box-shadow-2;
  transition: 0.2s all ease-in-out;

  button {
    background-color: $primary-background;
  }
}

.searchButton:hover {
  transform: scale(1.05);
  transition: 0.2s all ease-in-out;
}

//MOBILE

@media screen and (max-width: 46rem) {
  .navMenu,
  .navContainer {
    display: none;
  }
}

@media screen and (max-width: 65rem) {
  .navContainer {
    width: 100%;
    left: 20px;
    justify-content: start;
  }

  .navLeftContainer {
    display: none;
  }

  .navMenuContainerAuth {
    position: inherit;
    width: 100%;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
  }
}
