$color-light: #e4f5fe;
$color-dark: #54c9fc;

$color: rgba(0, 0, 0, 0.2);
$light: #ffffff;
$light-transparent: #ffffff99;
$dark: #333333;
$neutral: #cccccc;

$primary-color: linear-gradient(
  45deg,
  rgba(228, 245, 254, 0.3) 0%,
  rgba(239, 249, 252, 0.3) 100%
);

$primary-dark: #2985fe;

$primary-red-1: #f44336;
$primary-red-2: #f33756;

$primary-green-1: #33d836;
$primary-green-2: #14f069;

$secondary-color: linear-gradient(
  45deg,
  rgba(84, 201, 252, 0.683) 0%,
  rgba(138, 206, 243, 0.756) 100%
);

$selected-color: rgba(135, 208, 247, 0.4);

$selected-color-hover: rgba(155, 208, 237, 0.8);

$text-1: rgba(35, 258, 27, 1);
$text-shadow-1: rgba(65, 128, 47, 1);

$gray-1: rgb(70, 70, 70);
$gray-2: rgb(120, 120, 120);

$white-background: rgba(255, 253, 251, 1);
$white-background-07: rgba(255, 253, 251, 0.7);

$background-hover-1: linear-gradient(
  45deg,
  rgba(239, 249, 252, 0.4) 0%,
  rgba(228, 245, 254, 0.4) 100%
);

$font-stack: "Helvetica, Arial, sans-serif";
$border-radius: 4px;

$box-shadow-1: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
  rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;

$box-shadow-2: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
  rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;

$box-shadow-3: rgba(9, 30, 66, 0.2) 0px 25px 70px -12px;
