@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "../Styles/variables";

/* ###################### FORMATTING ################## */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
  user-select: none;
}

html {
  margin: 0;
  padding: 0;
  background: $white-background;
  font-family: Montserrat, sans-serif;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: $font-color-1;
}

#root {
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

/* ###################### ELEMENTS ################## */
li {
  list-style: none;
}

a {
  color: $font-color-1;
  text-decoration: none;
  transition: text-decoration-color 0.3s, color 0.3s;
  text-underline-offset: 0.3rem;
  cursor: pointer;
  font-weight: 500;
}

h1 {
  font-size: 1.5rem;
  font-weight: 700;
}

p,
label {
  font-size: 0.8rem;
  font-weight: 500;
  color: $font-color-1;
}

.ant-menu-horizontal > .ant-menu-submenu .ant-menu-submenu-title:hover {
  background-color: $light !important;
}

.video-js {
  background-color: unset;
}

/* ###################### SCROLLBAR ################## */

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(9, 30, 66, 0.08);
}

::-webkit-scrollbar-thumb {
  background: $secondary-color;
  border-radius: 20px;
  cursor: pointer;
  background-color: transparent;

  border: 2px solid transparent;
  background-clip: padding-box;
  transition: all 0.3s;
}
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(84, 155, 221, 0.683) rgba(9, 30, 66, 0.08);
  color: $font-color-1;
}

body {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

body.fallback-scrollbars {
  overflow-y: scroll;
}

input {
  border: 0;
  border-radius: 10px;
  color: $font-color-1;
}

input::placeholder {
  color: $neutral;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}

//Swiper

.swiper-button-next,
.swiper-button-prev {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 18px;
}
